body {
    /*font-family: 'Roboto', sans-serif;*/
    margin: 0px;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    width: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.entry-content {
    margin-bottom: 30px;
}

.cr-plugin-copy {
    position: fixed;
    top: 50px;
    right: 20px;
    border-radius: 10px;
    background-color: #eb5202;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 25px;
    display: none;
    z-index: 9999;
}

.cr-plugin-copy p {
    margin: 0px;
    color: #fff;
}

.cr-plugin-mr-top {
    margin-top: 30px;
}

.cr-plugin-shadow {
    box-shadow: 0px 0px 15px #eee;
    border-radius: 15px 15px;
}

.cr-plugin-main-box {
    margin: 0px -15px;
}

.cr-plugin-shipping>div, .cr-plugin-main-box>div {
    width: 50%;
    float: left;
    padding: 0px 15px;
}

.cr-plugin-shipping>div {
    /*padding: 0px 20px 0px 0px;*/
    padding: 0px 0px 0px 0px;
}

.cr-plugin-shipping>div:last-child {
    padding: 0px;
}

.cr-plugin-main-box>.cr-plugin-left {
    width: 45%;
}

.cr-plugin-shipping {
    padding: 20px 20px;
}

.cr-plugin-title {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 0px 15px !important;
    color: #000;
}

.cr-plugin-shipping-address p, .cr-plugin-billing-address p {
    font-size: 16px;
    line-height: 1.6 !important;
    font-weight: 400;
    color: #000;
    margin: 0px;
}

.cr-plugin-cart-summary {
    padding: 20px 0px;
}

.cr-plugin-cart-summary .cr-plugin-title {
    padding: 0px 20px;
}

.cr-plugin-cart-table table {
    margin: 0px;
    width: 100%;
    border-collapse: collapse;
    border: 0px;
}

.cr-plugin-cart-table table thead>tr>th {
    font-size: 16px;
    padding: 15px 20px;
    padding-top: 0px;
    font-weight: 600;
    border: 0px;
    border-bottom: 1px solid #eee;
}

.cr-plugin-cart-table table>tbody>tr>td {
    font-size: 16px !important;
    color: #000;
    font-weight: 400;
    vertical-align: middle;
    padding: 15px 20px;
    border: 0px;
}

.cr-plugin-cart-table table>tbody>tr>td>.cr-plugin-cart-img {
    width: 88px;
    float: left;
    padding-right: 15px;
}

.cr-plugin-cart-table table>tbody>tr>td>.cr-plugin-cart-des>p {
    margin: 0px !important;
    font-weight: 400 !important;
}

.cr-plugin-payment-detail {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.cr-plugin-payment-detail ul {
    margin: 0px;
    padding: 0px 20px;
}

.cr-plugin-payment-detail ul li {
    margin: 0px;
    list-style: none;
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}

.cr-plugin-payment-detail ul li:last-child {
    padding-bottom: 0px;
}

.cr-plugin-payment-detail ul li span {
    float: right;
    font-weight: 600;
}

.cr-plugin-payment-detail .cr-plugin-payment-grand {
    border-top: 1px solid #eee;
    padding-top: 12px;
    margin-top: 12px;
}

.cr-plugin-payment-detail .cr-plugin-payment-grand li {
    font-weight: 600;
}

.cr-plugin-billing-code img {
    max-width: 180px;
}

.cr-plugin-billing-box {
    display: table;
    width: 100%;
}

.cr-plugin-billing-box .cr-plugin-billing-code {
    width: 175px;
    display: table-cell;
    vertical-align: middle;
    border-right: 1px solid #eee;
}

.cr-plugin-billing-box .cr-plugin-billing-code img {
    max-width: 150px;
}

.copyToClipboard {
    cursor: pointer;
}

.cr-plugin-billing-main {
    padding: 20px 0px 20px 20px;
    margin-top: 30px;
}

.cr-plugin-billing-box .cr-plugin-billing-amount {
    width: calc(100% - 180px);
    display: table-cell;
    vertical-align: middle;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul {
    margin: 0px;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul li {
    margin: 0px;
    border-bottom: 1px solid #eee;
    padding-bottom: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul li:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul li span {
    font-size: 16px;
    color: #999999;
    display: block;
    margin-bottom: 5px;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul li p {
    font-size: 17px;
    color: #000000;
    font-weight: 500;
    margin: 0px;
    word-break: break-word;
}

.cr-plugin-billing-box .cr-plugin-billing-amount ul li p>i {
    font-size: 18px;
    margin-left: 8px;
    color: #999999;
    cursor: pointer;
}

.cr-plugin-history {
    position: relative;
    padding-left: 60px;
    padding-right: 95px;
}

.cr-plugin-payment-history .cr-plugin-title {
    padding: 15px 20px;
    border-bottom: 1px solid #eee;
    margin: 0px !important;
}

.cr-plugin-history .cr-plugin-history-ico {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
}

.cr-plugin-history .cr-plugin-history-ico>img {
    max-width: 44px;
}

.cr-plugin-history-box {
    padding: 20px 20px;
    border-bottom: 1px solid #eee;
}

.cr-plugin-history-box:last-child {
    border-bottom: 0px;
}

.cr-plugin-history .cr-plugin-history-des span {
    font-size: 16px;
    color: #000;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
}

.cr-plugin-history .cr-plugin-history-des span>a {
    color: #000;
    text-decoration: underline;
}

.cr-plugin-history .cr-plugin-history-des p {
    font-size: 16px;
    margin: 0px;
}

.cr-plugin-history .cr-plugin-history-date {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
}

.cr-plugin-history .cr-plugin-history-date span {
    font-size: 14px;
    color: #999999;
}

.cr-plugin-history-footer {
    border-top: 1px solid #eee;
    padding: 15px 20px 15px 100px;
}

.cr-plugin-history-footer ul {
    margin: 0px;
}

.cr-plugin-history-footer ul li {
    margin: 0px;
    font-size: 18px;
    color: #999999;
    width: 50%;
    float: left;
}

.cr-plugin-history-footer ul li span {
    color: #000000;
    font-weight: 500;
}

.cr-plugin-billing-main, .cr-plugin-payment-history {
    position: relative;
}

.cr-plugin-billing-main .cr-plugin-title {
    border-bottom: 1px solid #eee;
    padding-bottom: 12px;
}

.cr-plugin-billing-main .cr-plugin-timer, .cr-plugin-payment-history .cr-plugin-timer {
    position: absolute;
    top: 11px;
    right: 11px;
    display: flex;
}

.cr-plugin-payment-history .cr-plugin-timer div {
    margin-left: 10px;
    border: 3px solid #f3f3f3;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2.5s linear infinite;
    animation: spin 2.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cr-plugin-timer span {
    font-size: 15px;
    color: #666;
    display: inline-block;
    margin-right: 8px;
    font-weight: 600;
    margin-top: 6px;
}

.cr-plugin-timer ul {
    margin: 0px;
    display: inline-block;
}

.cr-plugin-timer ul>li {
    position: relative;
    margin: 0px;
    display: inline-block;
    height: 35px;
    width: 35px;
    background-color: #eee;
    font-size: 15px;
    line-height: 35px;
    font-weight: 500;
    text-align: center;
    color: #222;
    margin-right: 14px;
}

.cr-plugin-timer ul>li::before {
    content: ":";
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: -8px;
    color: #666;
}

.cr-plugin-timer ul>li:last-child::before {
    content: none;
}

.cr-plugin-timer ul>li:last-child {
    margin-right: 0px;
}

.cr-plugin-timer ul>li>span {
    color: #222;
    margin: 0px;
}

.cr-plugin-brand {
    padding: 20px;
    text-align: center;
}

.cr-plugin-brand span {
    font-size: 16px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 5px;
}

.cr-plugin-brand img {
    width: 120px;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 575px) {
    .cr-plugin-billing-main .cr-plugin-timer {
        position: static;
        margin-bottom: 20px;
    }
    .cr-plugin-history {
        padding: 0px;
        padding-left: 60px;
    }
    .cr-plugin-history>.cr-plugin-history-des.cr-plugin-no-history {
        margin-left: -60px;
    }
    .cr-plugin-billing-main .cr-plugin-timer, .cr-plugin-payment-history .cr-plugin-timer {
        position: static;
        margin-top: 5px;
    }
    .cr-plugin-payment-history .cr-plugin-timer {
        padding-left: 20px;
    }
    .cr-plugin-payment-history .cr-plugin-timer div {
        border-color: #ccc;
        border-top-color: #3498db;
    }
    .cr-plugin-billing-main .cr-plugin-timer {
        display: block;
        text-align: center;
    }
    .cr-plugin-billing-main .cr-plugin-timer span {
        display: block;
        width: 100%;
    }
    .cr-plugin-timer ul>li {
        background-color: #e3e3e3;
        margin-top: 8px;
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    .cr-plugin-main-box .cr-plugin-shipping>div {
        width: 50% !important;
        margin: 0px;
    }
    .coinremitter-invoice-index .container {
        max-width: none;
    }
}

@media screen and (max-width: 767px) {
    .cr-plugin-main-box {
        margin: 0px;
    }
    .cr-plugin-shipping>div, .cr-plugin-main-box>div {
        width: 100% !important;
        padding: 0px;
    }
    .cr-plugin-shipping>div {
        padding: 0px;
    }
    .cr-plugin-shipping>.cr-plugin-shipping-address {
        margin-bottom: 20px;
    }
    .cr-plugin-cart-table-box table {
        width: 575px !important;
    }
    .cr-plugin-history .cr-plugin-history-date {
        position: static;
        transform: none;
    }
    .cr-plugin-history-footer {
        padding-left: 15px;
    }
    .cr-plugin-history-footer ul li {
        text-align: center;
    }
    .cr-plugin-history-footer ul li span {
        display: block;
    }
    .cr-plugin-cart-table-box {
        overflow-x: auto;
    }
    .cr-plugin-cart-table-box table {
        width: 100%;
    }
    .cr-plugin-billing-box {
        display: block;
    }
    .cr-plugin-billing-main {
        padding: 15px 15px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code img {
        margin: 0px auto;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code, .cr-plugin-billing-box .cr-plugin-billing-amount {
        width: 100% !important;
        display: block;
        border: 0px;
        text-align: center;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
        padding-left: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        text-align: center;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .cr-plugin-main-box {
        margin: 0px;
    }
    .cr-plugin-main-box>.cr-plugin-left, .cr-plugin-main-box>.cr-plugin-right {
        width: 100%;
        float: none;
        padding: 0px;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    .cr-plugin-shipping .cr-plugin-shipping-address, .cr-plugin-shipping .cr-plugin-billing-address {
        width: 100%;
        padding: 0px;
    }
    .cr-plugin-shipping .cr-plugin-shipping-address {
        margin-bottom: 20px;
    }
    .cr-plugin-cart-table-box {
        overflow-x: auto;
    }
    .cr-plugin-cart-table-box table {
        width: 500px;
    }
    .cr-plugin-billing-main .cr-plugin-timer {
        position: static;
        border-bottom: 1px solid #eee;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .cr-plugin-billing-box {
        display: block;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code, .cr-plugin-billing-box .cr-plugin-billing-amount {
        width: 100%;
        display: block;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount ul li {
        padding-left: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-amount {
        margin-top: 15px;
    }
    .cr-plugin-billing-box {
        text-align: center;
    }
    .cr-plugin-billing-main {
        padding: 15px 15px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code {
        border: 0px;
    }
    .cr-plugin-billing-box .cr-plugin-billing-code img {
        margin: 0px auto;
    }
    .cr-plugin-history-footer {
        padding-left: 30px;
    }
    .cr-plugin-history-footer ul li span {
        display: block;
    }
}

@media screen and (max-width: 1210px) and (min-width: 992px) {
    .cr-plugin-shipping>div, .cr-plugin-main-box>div {
        width: calc(50% - 8px);
    }
}

@media only screen and (min-width: 768px) {
    .entry-content .cr-plugin-main-box {
        max-width: 1600px !important;
        width: auto !important;
        /*padding: 0 6vw;*/
    }
}