<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="wallets" id="wallets">
            <module name="Coinremitter_Checkout"/>
        </route>
        <route frontName="coinremitter" id="coinremitter">
            <module name="Coinremitter_Checkout"/>
        </route>
    </router>
</config>
