<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="checkout_submit_all_after">
        <observer name="coinremitter_admin_order_place_after" instance="Coinremitter\Checkout\Observer\CoinremitterAdminOrder" />
    </event>
</config>
