<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Coinremitter_Checkout::checkout" title="Checkout" sortOrder="51">
					<resource id="Coinremitter_Checkout::coinremitter_wallets" title="Wallets" sortOrder="10">
						<resource id="Coinremitter_Checkout::save" title="Save Wallet" translate="title" sortOrder="10" />
						<resource id="Coinremitter_Checkout::wallet_delete" title="Delete Wallet" translate="title" sortOrder="20" />
					</resource>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Coinremitter_Checkout::wallets_config" title="Checkout Coinremitter" translate="title" />
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
