<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Coinremitter\Checkout\Api\Data\WalletsInterface" type="Coinremitter\Checkout\Model\Wallets" />
	<preference for="Coinremitter\Checkout\Api\WalletsRepositoryInterface" type="Coinremitter\Checkout\Model\WalletsRepository" />
	<virtualType name="WalletsGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
		<arguments>
			<argument name="collection" xsi:type="object" shared="false">
				Coinremitter\Checkout\Model\ResourceModel\Wallets\Collection
			</argument>
		</arguments>
	</virtualType>
	<virtualType name="Coinremitter\Checkout\Model\ResourceModel\Wallets\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">
				coinremitter_wallets
			</argument>
			<!--
			<argument name="eventPrefix" xsi:type="string">coinremitter_checkout_grid_collection</argument>
			<argument name="eventObject" xsi:type="string">coinremitter_checkout_collection</argument>
			-->
			<argument name="resourceModel" xsi:type="string">
				Coinremitter\Checkout\Model\ResourceModel\Wallets
			</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="coinremitter_wallets_listing_data_source" xsi:type="string">
					Coinremitter\Checkout\Model\ResourceModel\Wallets\Grid\Collection
				</item>
			</argument>
		</arguments>
	</type>
	<type name="Coinremitter\Checkout\Logger\Handler">
		<arguments>
			<argument name="filesystem" xsi:type="object">
				Magento\Framework\Filesystem\Driver\File
			</argument>
		</arguments>
	</type>
	<type name="Coinremitter\Checkout\Logger\Logger">
		<arguments>
			<argument name="name" xsi:type="string">
				Coinremitterlog
			</argument>
			<argument name="handlers" xsi:type="array">
				<item name="system" xsi:type="object">
					Coinremitter\Checkout\Logger\Handler
				</item>
			</argument>
		</arguments>
	</type>
</config>
