<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Coinremitter_Checkout:etc/menu.xsd">
	<menu>
		<add id="Coinremitter_Checkout::base" title="Coinremitter Checkout" module="Coinremitter_Checkout" sortOrder="100" dependsOnModule="Coinremitter_Checkout" resource="Coinremitter_Checkout::coinremitter" />
		<add id="Coinremitter_Checkout::coinremitter_wallets" title="Wallets" module="Coinremitter_Checkout" sortOrder="20" parent="Coinremitter_Checkout::base" action="coinremitter/wallets" resource="Coinremitter_Checkout::coinremitter" />
	</menu>
</config>
